
a{
  color:black;
}

.navcolor{
  background-color: white
  font-family: sans-serif;

}

body{
  background-color: white;
  font-family: sans-serif;

}

.song-card{
    border-radius:10px;
    transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
