<html>

<head>
	<title>{{ name }}'s Profile</title>
</head>

<body>
    <!-- make this pretty later -->
	<h1> {{ name }}'s Profile </h1>
    <p><u>Match Percentage:</u> {{ match_percentage }}</p>
    {% if song_percentage != "": %}
        <p><u>Song Percentage:</u> {{ song_percentage }}</p>
    {% endif %}

    {% if artist_percentage != "": %}
        <p><u>Artist Percentage:</u> {{ artist_percentage }}</p>
    {% endif %}

    {% if genre_percentage != "": %}
        <p><u>Genre Percentage:</u> {{ genre_percentage }}</p>
    {% endif %}
    <p><u>Email:</u> {{ email }}</p>
    <p><u>Bio:</u> {{ bio }}</p>
    <p><u>Songs: </u></p>
    {% for song in list_of_songs %}
    <!-- display the song's artist and genre and album cover -->
        <p>{{ song["track_name"] }} by {{ song["track_artists"][0][0] }}</p>
        <p> Genres:
            {% set counter = 0 %}
            {% for genre in song["artist_genres"] %}
                {{ genre }}
                <!-- idk how to make counters work in jinja2 lol - Victor -->
                <!-- {% if counter < song["artist_genres"]|length - 1: %}
                    ,
                {% endif %}  -->
            {% endfor %}
        </p>
        <br>
    {% endfor %}
</body>

</html>